# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.mason/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
build/
pubspec.lock
pubspec_overrides.yaml